*
{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    border:border-box;                 
}

.navbar
{
    height:60px;
    background-color:#0f1111;
    color:white;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

/* box1 */
.logo
{
    height:50px;
    width:100px;
    background-image:url(logo1.jpeg);
    background-size: cover;
    border
}

.border
{
    border:2px solid transparent;
}

.border:hover
{
    border:2px solid white;
    border-radius:3px;
}

/* box 2 */
.nav-address
{
    height:50px;
    color:white;
    /* display:flex;
    justify-content: center;
    align-items: center; */
}
.add-icon
{
    display: flex;
    color:white; 
}
.address1
{
    color:#cccccc;
    font-size:0.85rem;
    margin-left:15px;
}
.address2
{
    font-size: 1rem;
    margin-left:3px;
}

/* box 3 */
.nav-search
{
    display: flex;
    justify-content:space-evenly ;
    background-color:#febd68;
    width:620px;
    height:40px;
    border-radius:3px;
}
.nav-search:hover
{
    border:2px solid rgb(186, 121, 36);
}
.search-select
{
    background-color: #f3f3f3;
    width:50px;
    border:none;
    border-bottom-left-radius:3px;
    border-top-left-radius:3px;
    text-align: center;

}
.search-input
{
    width:520px;
    border: none;
    font-size: 1rem;    

}
.search-icon
{
    width:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.5);
    border-bottom-right-radius:3px;
    border-top-right-radius:3px;
    color: #0f1111;
}



/* box4  content  */
span{
    font-size:0.7rem;
}
.nav-signin
{
    width:120px;
}

.nav-second
{
    font-size:0.85rem;
    font-weight:700;
}

/* box5 */
.nav-cart i  
{
    transform:scale(2)
}

.nav-cart
{
    font-size: 0.85rem;
    font-weight: bold;
}

/* panel */
.panel
{
    color:white;
    height:40px;
    background-color:#222f3d;
    display: flex;
    align-items: center;
    justify-content: space-evenly               ;

}
.panel-ops
{
    display:flex;
    width:70%;
    font-size:0.85rem;
    font-weight: bold;
}
.panel-deals
{
    font-size:0.9rem;
    font-weight: 700;
}

.panel-ops p
{
    margin-left:10px;
}


/* hero section  */
.hero-section
{
    height:300px;
    background-image: url(background.jpg);
    background-size: cover; 
    display:flex; 
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 25px;
}

.hero-message
{
    height:40px;
    width:80%;
    background-color: white;
    color:#0f1111;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    

}
.hero-message a
{
    color:#007185;
    text-decoration: none;
}

/* shop section  */
.content-section
{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: rgb(132, 95, 167);
}
.box
{
    height:400px;
    width:23%;
    background-color:white;
    padding:20px 0px 15px;
    margin-top:15px;

}
.box .box-img
{
    height:300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top:1rem;
    margin-bottom:1rem;
}

.box-content
{
    margin-left: 1rem;
    margin-right:1rem;
}

.box-content p
{
    color:#007185;
}

/* footer  */
footer
{
    margin-top:15px ;
}
.foot-panel1
{
    background-color:#37475a;
    color:white;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:1rem;
}

.footer-panel2
{
    background-color: #222f3d;
    color:white;
    height:500px;
    display:flex;
    justify-content: center;

} 

ul
{
    list-style-type: none;
}
ul p
{
    margin-top:10px;
}

.footer-list
{
    margin:30px;
}